body {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
}
body, .login-submit, .login-submit:before, .login-submit:after {
  background: #373737 url("img/bg.png") 0 0 repeat;
}
.login {
  position: relative;
  margin: 80px auto;
  width: 400px;
  padding-right: 32px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.login p {
  margin: 0 0 10px;
}
input, button, label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
input[type=text]:focus, input[type=password]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

label {
  float: left;
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
}
.login-submit {
  position: absolute;
  top: 12px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border:1px solid #373737;
  border-radius: 32px;
 -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  background:#00a1d2 url("../img/arrow.png");
  background-repeat:no-repeat;
  background-position:center;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
}
#outerdiv
{
     border:1px solid white;
     margin-top:230px;
     margin-left:400px;
     height:300px;
     width:500px;
     border-radius: 15px;
    -moz-box-shadow: 10px 10px 5px #888;
     -webkit-box-shadow: 10px 10px 5px #888;
     box-shadow: 10px 10px 5px #888;
}
#h2
{
    margin-left:40px; 
    color:#00a1d2;
}
hr{
     width:90%;
}
#headerDiv{
     height:110px;
     width:1364px;
     position:absolute;
     left:0px;
     top:0px;
     background-color:#E3E4FA;
}
#headerText
{
     margin-left:40px;
     margin-top:42px;
       z-index:-1;
       font-size: 70px;
     color:#00a1d2;
}

#signup-btn
{
     margin-left:300px;
     margin-top:-22px;
     z-index:-1;
     height:35px;
     width:70px;
     border-radius:8px;
     background-color:#373737;
     color:#00a1d2;
}

a{
     text-decoration:none;
}
#leftside
{
     position:absolute;
      margin-left:100px;
     margin-top:-200px;
      height:300px;
     width:150px;
}

.imgClass {
    position: relative;
    right: 492px;
    top: 138px;
}
