.login{
       padding: 0 10px;
       width: 300px;
       height: 30px;
       color: #bbb;
       left:400px;
       text-shadow: 1px 1px 1px black;
       background: rgba(0, 0, 0, 0.16);
       border: 0;
       border-radius: 5px;
}

label{
       float: left;
       width: 100px;
       line-height: 40px;
       padding-right: 10px;
       font-weight: 100;
       text-align: right;
       letter-spacing: 1px;
       text-shadow: 5px 5px 5px black;
}  
.login-submit {
  position: absolute;
  top: 392px;
  left: 230px;
  height:30px;
  width:100px;
  padding: 8px;
  cursor: pointer;
  background: #00a2d3;
  border-radius: 22px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.login-button
{
     cursor: pointer;
     content: '';
       position: relative;
       top: 0px;
       bottom: 5px;
       left:0px;
       right: 5px;
       height:30px;
       width:100px;
       background: #00a2d3;
       border-radius: 14px;
       background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
       background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
       background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
       background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
}
body
{
      background-color: #404040;
}
#main
{
     float:left;
     height:460px;
     width:650px;
     position:absolute;
     margin-left:300px;
     margin-top:130px;
     border:1px solid #bbb;
     z-index:1;
     background-color: #f1f1f1;;
}
#header{
     height:230px;
     width:1364px;
     position:absolute;
     left:0px;
     top:0px;
     z-index:-1;
     background-color: white;
     font-size: 90px;
     color:#00a2d3;
     text-align:center;
}
#logo
{
     position:absolute;
      height:200px;
     width:250px;  
     left:0px;
     top:0px;
     float:left;
}
