#headerDiv
{
position:absolute;
     top:0px;
     left:0px;
     height:80px;
     width:1354px;
     border: 1px solid #DDD;
     z-index:-5;
     background:#4c66a4;
}
#imageChooser
{
     border:none;
}
#s
{
     margin-left:470px;
     margin-top:25px;
     border: 1px solid #DDD;
     border: 1px solid #DDD;
     border-radius: 5px;
     box-shadow: 0 0 5px #888;
     color: #666;
     float: left;
    padding: 5px 27px 5px 10px;
    width: 295px;
    height:20px;
    
    outline: none;
}
#search
{
     background: url('../img/search.png');
     width: 30px;
    height:30px;
    margin-left:810px;
    margin-top:30px;
    cursor:pointer;
}
#profilepic
{
    position:absolute;
    width: 150px;
    height:170px;
    margin-left:50px;
    margin-top:10px;
    border: 1px solid #DDD;
    z-index:5;
}
#profile
{
    position:absolute;
    width: 300px;
    height:400px;
    left:0px;
    margin-top:80px;
    border: 1px solid #DDD;
}
#editpic
{
    position:absolute;
    width: 140px;
    height:25px;
    left:3.5px;
    margin-top:118px;
    border: 1px solid #DDD;
    -moz-box-shadow:inset -2px 2px 14px 1px #ededed;
	-webkit-box-shadow:inset -2px 2px 14px 1px #ededed;
	box-shadow:inset -2px 2px 14px 1px #ededed;
	text-align:center;
	display:none;
	cursor:pointer;
}
#username
{
    position:absolute;
    width: 250px;
    height:60px;
    left:20px;
    margin-top:220px;
    font-size: x-large;  
    color:#4c66a4;
    text-align:center;
}
#Chatcount
{
     position:fixed;
    width: 220px;
    height:30px;
    left:1120px;
    margin-top:566px;
    font-size: 130%;  
    color:black;
    //text-align:center;
    border: 1px solid #DDD;
}
#chatTxt
{
     top:4px;
     position:absolute;
}
#ChatMemebers
{
    position:absolute;
    width: 220px;
    height:350px;
    left:1120px;
    margin-top:214px;
    font-size: x-large;  
    color:#4c66a4;
    text-align:center;
    border: 1px solid #DDD;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
#chatHead
{
    position:absolute;
    width: 220px;
    height:30px;
    left:1120px;
    margin-top:184px;
    font-size: 130%;  
    color:white;
    border: 1px solid #DDD;
    background:#4c66a4;
    display: none;
}
#textinput
{
    width: 220px;
    height:25px;
    left:1px;
    margin-top:1px;
    display: none;
}
#texts
{
    width: 220px;
    height:25px;
    left:1px;
    margin-top:1px;
    display: block;
     
}
#logout {
	-moz-box-shadow:inset -2px 2px 14px 1px #ffffff;
	-webkit-box-shadow:inset -2px 2px 14px 1px #ffffff;
	box-shadow:inset -2px 2px 14px 1px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:2px solid #b8b2b8;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 4px 0px #ffffff;
	margin-left:1220px;
    margin-top:-40px;
}
#logout:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
#logout:active {
	position:relative;
	top:1px;
}

